.backButton {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 1px 0 7px rgba(0,0,0,0.07);
  color: #975DA1;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  text-decoration: none;
  margin-bottom: 1rem;
}

.backButton:hover {
  background-color: #975DA1;
  color: #fff;
  transition: background-color 0.25s, color 0.25s;
}

.createReviewForm {
  font-weight: 500;
  text-align: left;
  padding-bottom: 2rem;
}

.createReviewForm__block {
  margin-bottom: 2rem;
}

.createReviewForm__block label {
  display: block;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.createReviewForm input,
.createReviewForm textarea {
  width: 100% !important;
  background: #444;
  border: none;
  font-size: 1rem;
  color: #eee;
  padding: 0.5rem;
  outline: none;
}

.createReviewForm__block textarea {
  min-height: 10rem;
}

.createReviewForm h3 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.createReviewForm h4 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.scoreSection__category {
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  border-bottom: 0.125rem solid #444;
}

.slug {
  font-size: 0.875rem;
}
