.gameTiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0 6px;
  justify-items: center;
}

@media (max-width: 374px) {
  .gameTiles {
    display: block;
  }
}
